* {
    box-sizing: border-box;
    /* font-family: 'Neuzeit Grotesk' */
}

body {
    /* background-color: rgb(61, 151, 187); */
    /* font-family: 'Krub', sans-serif; */
    background: rgba(255, 255, 255, 0.384)
}

.navbar {
    
    /* max-width: 1200px; */
    margin: auto;
    border-bottom: 1px solid rgba(14, 205, 154, 0.315);
    background: black;
}

#kicklrLogo {
    width: 30px;
    height: 30px;
}

.navbarText {
    color: #0ECD99;
}

.nav-link {
    color: #0ECD99 !important; 
}

#marginRight {
    float: right;
}

#navbarNav {
    padding-right: 20px;
}

.navbar-toggler {
    /* WITHOUT !important THE BORDER COLORS WILL BE THE DEFAULT BOOTSTRAP ONES */
    border: 1px solid #0ECD99 !important;
    border-bottom: 1px solid #7C67CB !important;
    border-top: 1px solid #7C67CB !important;

}

.wrapper {
    width: 500px;
    padding: 40px;
    margin: auto;
    margin-top: 150px;
    border: solid 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0ECD99;
    background-color: white;
    border-radius: 3%;  
}

@media only screen and (max-width: 500px) {
    /* THIS MAKES THE SIGN UP CONTAINER FIT THE FULL SCREEN WIDTH WHEN THE SCREEN SIZE IS LESS THAN 500PX  */
    .wrapper {
        width: 100%;
    }
}

.btn {
    background-color: #7C67CB;
    color: #0ECD99;
    /* THIS CENTERS THE SUBMIT BUTTON */
    margin-left: 25%;
}

#hamburgerMenu {
    background: white;
}

#topRightNavContainer {
    border: 5px solid white;
    border-radius: 3%;
    /* background: white; */
}

/* 770px is for medium breakpoint */
@media only screen and (max-width: 580px) {
    #topRightNavContainer {
        border: 0px;
        border-radius: 100%;
    }
}

.form {
    width: 100%;
    border: 3px solid black;
    box-shadow: 2px 3px ;
    height: 40px;
}

