#portfolioBalanceContainer {
    height: 150px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;

}

#portfolioBalanceText {
    position: absolute;
    left: 50%;
    top: 50%;
    
   
    transform: translate(-50%, -50%);
    margin-left: 50px;
    
   font-size: 50px;
    width: 100%;
    font-family: 'Krub', sans-serif;
    /* height: 100%; */
  }

  #bostContainer {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: row;
  }

  @media only screen and (max-width: 520px) {
    #portfolioBalanceText {
        margin-left: 50px;
        font-size: 40px;
        /* text-align: center; */
    }
}

@media only screen and (max-width: 414px) {
    #portfolioBalanceText {
        margin-left: 0px;
        font-size: 30px;
        text-align: center;
        /* width: auto; */
        border-bottom: 1px solid #0ECD99;
        border-top: 1px solid #0ECD99;
    }
}

#holdingsAndPurchaseContainer {
    height: 500px;
    /* height: auto; */
    
    width: 100%;
    /* border: 1px solid black; */
    display: flex; 
    /* flex-direction: row-reverse; */

}



#holdingsOuterContainer {
    /* background: white; */
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
    padding-left: 50px;
    
    
}
#holdingsMainContainer {
    width: 80%;
    /* width: 600px;  */
    height: 100%;
    /* border: 1px solid yellow;     */
}

.holdingsRow {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
}

.holdingsStockName {
    height: 100%;
    width: 20%;
    /* color: rgb(104, 104, 73); */
    color: rgb(199, 14, 205);
    
    /* border: 1px solid black; */
}

.holdingsShares {
    height: 100%;
    width: 50%;
    color: #7C67CB;
    /* border: 1px solid black */
}

.holdingsValuePerStock {
    height: 100%;
    width: 30%;
    width: auto;
    color: #0ECD99;
    /* border: 1px solid black */
}

.dashContainer {
    height: 100%;
    width: 10%;
    /* text-align: center; */
}

#makePurchaseOuterContainer {
    width: 50%;
    height: 100%;
   
}

#makePurchaseMainContainer {
    height: 100%;
    /* width: auto; */
    width: 50%;
    margin: auto;
    /* margin-left: 50px; */
    /* padding-left: 50px; */
    /* border: 1px solid black; */
    max-width: 250px;
}
#cashBalanceContainer {
    /* text-align: center; */
    font-size: 30px;
    width: auto;
    /* text-align: center; */

    font-family: 'Krub', sans-serif;
}



#getPriceForm {
    width: 100%;
    
}

#getPriceButton {
    width: 100%;
    border: 3px solid black;
    height: 40px;
    box-shadow: 2px 3px;
    background: rgba(14, 205, 154, 0.836);
    /* background: #0ECD99; */
}
#confirmPurchaseBtn {
    width: 100%;
    border: 3px solid black;
    height: 40px;
    box-shadow: 2px 3px;
    background: rgba(14, 205, 154, 0.836);

}

#cancelPurchaseBtn {
    width: 100%;
    border: 3px solid black;
    height: 40px;
    box-shadow: 2px 3px;
    background: rgba(206, 82, 24, 0.836);

}

@media only screen and (max-width: 720px) {
    /* THIS MAKES THE SIGN UP CONTAINER FIT THE FULL SCREEN WIDTH WHEN THE SCREEN SIZE IS LESS THAN 500PX  */
    #holdingsAndPurchaseContainer { 
        flex-direction: column;
       
        /* display: inline; */
    }
    #makePurchaseOuterContainer {
        width: 100%;
        height: 350px;
   
       
    }
    #holdingsOuterContainer {
        /* background: white; */
        width: 100%;
        order: 2; 
    }
}

.stockQuote {
    width: 100%;
    border: 3px solid black;
    box-shadow: 2px 3px ;
    height: auto;
    padding: 0px 10px;
    text-align: center;
}

#confirmTradeContainer {
    display: none;
}